.App {
  text-align: center;
}

.log-form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.log-form h2 {
  background-color: #4682B4;
  margin: 0 300px;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 300px;
  padding: 20px 0;
  background-color: #F5F5F5;
}

.log button {
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  width: 150px;
  background-color: #6495ED;
}

.dropdown {
  border-radius: 4px;
  width: 200px;
  text-align: center;
}

.log-form input {
  width: 200px;
}

.log-form label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: rgba(77, 77, 216, 0.822);
}

.log-form input {
  text-align: center;
}

/* navbar css */

.navbar{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5% auto;
}

.largeNavItem{
  width: 30%;
  color: #343740;
}

.largeNavItem h2{
  font-size:3rem;
  font-weight: bold;
}

.smallNavItem{
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.NavItem{
  margin: 0px 10px;
}

.NavItem button{
  padding: 9px 25px;
  background: #7795f8;
  border: 1px solid #7795f8;
  font-weight: bold;
  font-size:14px;
  border-radius: 15px;
  width:100%;
  color: #ecedf2;
}

.NavItem button:hover{
  color: white;
  background: #91a9f7;
  border: solid 1px #91a9f7;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}